/* __ CONTAINERS __ */

.l-centered-full {
  width: $main_width;
  margin: 0 auto;
  *zoom: 1;
}

.l-top-bar {
  display: inline;
  float: left;
  margin: 0px 0px -40px 0px;
  width: 100%;
  height: 93px;
  z-index: 1000;
}

.l-mainnav-sub-mask {
  position: absolute;
  overflow: hidden;
  height: 44px;
  width: 100%;
  top: 48px;
}

.l-mainnav-sub {
  position: absolute;
  width: 100%;
}


.l-mainnav {
  display: inline-block;
  width: $main_width;
}

.l-header-bar {
  display: inline;
  float: left;
  width: $main_width;
  height: 248px;
  z-index: 0;
}

.l-header {
  position: relative;
  top: 90px;
  $pad: 35px;
  margin-left: -$pad;
  padding-left: $pad;
  left: -4px;
}

.l-veh-sel-bar {
  display: inline;
  float: left;
  margin-right: 10px;
  width: $main_width;
  height: 65px;
}

.l-veh-sel {
  display: inline;
  float: left;
  margin: 40px 0;
  width: $main_width;
  height: 273px;
}

.l-location {
  display: inline-block;
  position: relative;
  border-left: 1px solid #CFCFCF;
  top: 10px;
  padding: 8px 0 8px 59px;
  margin: 0 0 0 60px;
}

.l-last-column {
  margin-right: 0;
}

.l-hr_top {
  top: 376px;
}

.l-hr_bottom {
  top: 660px;
}

.l-offer-row {
  display: inline;
  float: left;
  margin: 20px 10px 0 0;
  padding-left: 0px;
  width: $main_width;
  height: 185px;
  border-bottom: 1px solid #d4d4d4;
}

.l-footer {
  display: inline-block;
  background: #e3e3e3;
  width: 100%;
  margin-top: 100px;
}

.l-footer-menu-container {
  display: inline-block;
  padding-top: 100px;
  padding-bottom: 20px;
  width: $main_width;
  height: 171px;
  border-bottom: 1px solid #d7d7d7;
  vertical-align: top
}

.l-footer-menu {
  display: inline-block;
  width: 186px;
  height: 171px;
  vertical-align: top
}

.l-footer-info {
  display: inline-block;
  padding: 10px 0;
}